<p id="notice"><%= notice %></p>
<div class="container" style="padding-top:50px;">
 <div class="row">
  <div class="show-img-product">
    <p>
      <%= image_tag(@product.image_url, style: "max-height: 400px; max-width: 400px; padding-left:10px; padding-right:10px;") %>
    </p>
  </div>
  
  <div class = "show-inf-product">
    <p><%= @product.name %></p>
    <p><div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
    <p><strong><%= @product.price %></strong></p>
    <!-- Pay button-->
    <p>
      <%if @product.price?%>
        <%= form_tag "/payments/create" do %>
          <%= hidden_field_tag :product_id, @product.id %>
          <%= hidden_field_tag :color_id, @colors.first.id %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
      <% end %>
    </p>
    <p id ="colorlist">
      <% @colors.each do |c|%>
        <canvas id = "<%=c.hexcolor%>" data-color="<%=c.id%>"><%=c.hexcolor%></canvas>
      <%end%>
     </p>
  </div><!--/.row-->  
    
  <div class="show-desc-product"><p><%= @product.description %></p></div>
  
  <div class="show-comm-product">
    <%= render 'new_comment' %>
    <%= render 'comments' %>
  </div>
   <% if signed_in? %>
      <% if current_user.admin? %>
        <div class = "links">
          <%= link_to 'Edit', edit_product_path(@product) %> |
          <%= link_to 'Back', products_path %>
        </div>
      <%end%>
  <%end%>    
</div>
</div><!--/.container-->
